:root {
    --primary-color: #2a4f82;
    --bg: #ebe8e1;
    --text-color1: #0a0a28;
    --text-color2: #666680;
}

body {
    font-family: "nunito", sans-serif;
    background-color: var(--bg);
}

.is-invalid {
  border-color: red;
}
/* Navbar */

.navbar {
    background-color: var(--bg);
}

.nav-item {
    margin: 0 40px 0 0;
    color: var(--text-color1);
    font-weight: 600;
}

.btn {
    background-color: var(--primary-color);
    border-radius: 30px;
    color: var(--bg) !important;
    width: 140px;
}

.btn:hover {
    background-color: #112644 !important;
}


/* Jumbotron */

.jumbotron {
    margin-top: 200px;
}

.title {
    font-weight: bold;
}

.button-hero {
    margin-top: 20px;
}


/* Category */

.category {
    margin-top: 250px;
}

.category h4,
.team h4 {
    text-align: center;
    font-size: 24px;
    line-height: 43.65px;
    padding-top: 0.5rem;
    color: var(--text-color1);
}

.circle {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: #f1f1f1;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.circle img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 50%;
}

.circle h4 {
    text-align: center;
    color: var(--text-color2);
}


/* About */

.about {
    margin-top: 300px;
}

.about-img {
    width: 450px;
}

.area-title {
    font-weight: bold;
    color: var(--text-color1);
    margin-top: 15px;
    margin-bottom: 20px;
}

.info {
    font-size: 24px;
    color: var(--text-color1);
}

.about-info {
    text-align: justify;
}

.content-about {
    margin-top: 200px;
}

.content-aboutImg {
    width: 300px;
}

.about-desc,
.desricption-area p {
    text-align: justify;
    color: var(--text-color1);
    font-size: 18px;
    margin-top: 30px;
}

hr {
    margin-top: 25px;
    margin-bottom: 25px;
}


/* interest content */

.interest-content {
    margin-top: 300px;
}

.interest-img {
    border-radius: 30px;
}

.interest-container {
    margin-bottom: 300px;
}


/* List Article */

.listArticle {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    justify-content: center;
}

.item-title {
    font-weight: bold;
}

.card-list {
    background-color: var(--bg);
    border-radius: 30px;
    border: none;
    box-shadow: 0px 5px 15px rgba(1, 1, 3, 0.1);
    margin-bottom: 30px;
    padding-bottom: 20px;
}

.list-img {
    border-radius: 30px 30px 0 0;
    height: 250px;
}

.explore-article {
    margin-top: 100px;
}


/* Detail Article */

.detailContent {
    margin-top: 200px;
}

.detail-img {
    border-radius: 30px;
    width: 50%;
}


/* Team */

.team {
    margin-top: 200px;
}

.team-title {
    margin-bottom: 100px;
}


/* Footer */

footer {
    margin-top: 150px;
    background-color: var(--primary-color);
    padding-top: 60px;
}

.contact-link,
.sosmed-link,
.copyright,
.contact {
    color: var(--bg);
}

.card-services {
    margin-top: 100px;
}

.card-servicess {
    font-family: "nunito", sans-serif;

}